.slidebar-contain {
    height: 100%;
    width: 14%;
    display: block !important;
    background-color: #eee;
    position: fixed !important;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.slidebar-contain {
    display: block;
    padding-top: 0;
    padding-left: 10p;
    margin-bottom: 0px;
    margin-top: 4.7%;
    position: sticky;
}

.slide-item {
    display: block;
    font-size: 23px;
    font-family: "Century Gothic", 'Lato', sans-serif;
    font-weight: 600;
    text-decoration: none;
    background-color: #eee;
    color: #291c0a;
}

.slide-item {
    margin-top: 5px;
    padding-top: 0.2rems;
}

.slide-item:hover {
    color: #ffffff;
    background-color: #dbd9d9;
}