.slidebar-contain {
    background-color: #eee;
    // overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 20px;
}

.slidebar-contain {
    display: block;
    min-height: 1380px;
    max-height: 1380px;
    padding-top: 0;
    padding-left: 10p;
}

.slide-item {
    display: block;
    font-size: 23px;
    font-family: "Century Gothic", 'Lato', sans-serif;
    font-weight: 600;
    text-decoration: none;
    background-color: #eee;
    color: #291c0a;
}

.slide-item {
    margin-top: 5px;
    padding-top: 0.2rems;
}

.slide-item:hover {
    color: #ffffff;
    background-color: #dbd9d9;
}