* {
    font-family: "Century Gothic", 'Lato', sans-serif;
}

.note {
    display: block;
    background-color: beige;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 2px;
}

table {
    margin-top: 10px;
}

th {
    border: 1px solid;
    text-align: center;
}

td {
    border: 1px solid;
    text-align: left;
}

table {
    width: 70%;
    border-collapse: collapse;
}

.note-green {
    display: block;
    background-color: #cdf0c3;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 15px;
}

.hight-line-tag {
    font-size: medium;
    font-weight: bolder;
}

.body-tag {
    padding-top: 15px;
    margin-top: 25px;
    border-top-width: 1px;
    border-top-color: rgb(196, 192, 188);
    border-top-style: solid;
}