.container {
    list-style-type: none;
}

.right {
    float: left;
    display: block;
    max-width: 80%;
    min-width: 80%;
    padding-left: 15px;
}

.left {
    float: left;
    max-width: 19%;
    min-width: 19%;
}